<html>

<head>
    <link rel="stylesheet" href="/static/css/main.css">
    <style>
        body {
            color: black;
        }
    </style>
</head>

<body>
    <h1>To do list</h1>
    <form action="/add_todo">
        <label>Item todo:<br>
            <input type="text" name="item" value="value">
            <input type="submit" value="Submit">
        </label>
    </form>
    <ol>
        <!-- For loop logic of jinja template -->
        {%for item in items%}
        <li>{{item}}</li>
        {%endfor%}

    </ol>
</body>

</html>